<template name="about">
    <div class="panel panel-default" id="container">
        <div class="panel-heading" id="panel_heading">
            <a href="/" class="btn pull-left" id="btn_glyphicon">
                <span class="glyphicon glyphicon-home active span_icon"></span>
            </a>

            <h1 id="title">关于</h1>

            <!-- for about center -->
            <a href="#" class="btn pull-right invisible" id="btn_glyphicon">
                <span class="glyphicon glyphicon-list pull-right span_icon"></span>
            </a>

        </div>
        <ul class="list-group top_ul" id="list_content_ul">
            <li>
                <div class="panel-body" id="panel_body">
                    <br/>

                    <div class="row">
                        <div class="col-xs-1 col-md-1"></div>
                        <div class="col-xs-10 col-md-10">
                            <h2>智能系统百家谈</h2>

                            <p class="lead indent_p">
                                “智能系统百家谈”是由下一代智能操作系统技术联盟维护的微信公众号，主要用于发表高手们的技术文章、活动总结、通知、投票等，更多功能还在开发中。在微信中搜索公众号
                                <strong>discNGOS</strong>
                                或扫一扫下面的二维码关注。</p>
                        </div>
                        <div class="col-xs-1 col-md-1"></div>
                    </div>

                    <div class="row">
                        <div class="col-xs-2 col-md-2"></div>
                        <div class="col-xs-8 col-md-8"><img src="discNGOS-qrcode.jpg" alt="discNGOS"
                                                            class="img-responsive">
                        </div>
                        <div class="col-xs-2 col-md-2"></div>
                    </div>
                    <br/>
                </div>
            </li>
        </ul>
    </div>
</template>
