<template name="wechatLiveMain">
    <div class="panel panel-default" id="container">
        <div class="panel-heading" id="panel_heading">
            <!--<div id="sandbox-container" class="pull-left">-->

            <div id="sandbox-container" class="pull-left">
                <a class="btn" id="btn_glyphicon">
                    <span class="glyphicon glyphicon-calendar active span_icon"></span>
                </a>
            </div>
            <script type="text/javascript">
                $('#sandbox-container a').datepicker({
                    language: "zh-CN",
                    autoclose: true,
                    todayHighlight: true,
                    startDate: "2015-03-22",
                    endDate: "今天"
                }).on('changeDate', function (ev) {
                    var timestamp = ev.date.getTime();
                    if (timestamp != this.time) {
                        day = ChatRecords.date(timestamp, "yyyy-MM-dd");
                        Router.go("history", {date: day});
                    }
                });
            </script>

            <a href="/about" style="color:white"><h1 id="title">群聊直播</h1></a>

            <a href="/users" class="btn pull-right" id="btn_glyphicon">
                <span class="glyphicon glyphicon-list pull-right span_icon"></span>
            </a>
        </div>
        <div class="panel-body" id="panel_body">
            <ul id="list_content_ul">
                {{#each chat_records}}
                    {{> chat_record_detail}}
                {{/each}}
            </ul>
        </div>
    </div>
</template>

