<?xml version="1.0" encoding="utf-8"?>
<!--
/*
 *     Copyright (C) 2010~2014 FMSoft (Espier Studio)
 *
 *    This program is free software: you can redistribute it and/or modify
 *    it under the terms of the GNU Affero General Public License as published by
 *    the Free Software Foundation, either version 3 of the License, or
 *    (at your option) any later version.
 *
 *    This program is distributed in the hope that it will be useful,
 *    but WITHOUT ANY WARRANTY; without even the implied warranty of
 *    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the 
 *    GNU Affero General Public License for more details.
 *
 *    You should have received a copy of the GNU Affero General Public License
 *    along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *
 */
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="mobi.espier.lgc"
      android:versionCode="1"
      android:versionName="1.0.0">

    <uses-sdk android:minSdkVersion="14" android:targetSdkVersion="14"/>

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application android:label="@string/lgc_app_name" android:icon="@drawable/icon"
        android:name="mobi.espier.lgc.LgcApp"
        >
        <activity android:name="LgcActivity"
                  android:label="@string/lgc_app_name"
                  android:screenOrientation="portrait"
                  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="mobi.espier.lgc.service.LgcAccessibilityService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE" >
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data android:name="android.accessibilityservice" android:resource="@xml/wxlive_accessibility_service_config" />
        </service>

        <provider
            android:name="mobi.espier.lgc.data.LgcProvider"
            android:authorities="mobi.espier.lgc" >
        </provider>

    </application>

</manifest>
